
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %strong= t('.attributes')
  = link_to "Raw", proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container

    %p
      %label{ :for => :cluster_name }= t('.cluster_name')
      %input#cluster_name{:type => "text", :name => "cluster_name", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["cluster_name"], :onchange => "update_value('cluster_name', 'cluster_name', 'string')"}

    %p
      %label{ :for => :tick_time }= t('.tick_time')
      %input#tick_time{:type => "text", :name => "tick_time", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["tick_time"], :onchange => "update_value('tick_time', 'tick_time', 'string')"}

    %p
      %label{ :for => :init_limit }= t('.init_limit')
      %input#init_limit{:type => "text", :name => "init_limit", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["init_limit"], :onchange => "update_value('init_limit', 'init_limit', 'string')"}

    %p
      %label{ :for => :sync_limit }= t('.sync_limit')
      %input#sync_limit{:type => "text", :name => "sync_limit", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["sync_limit"], :onchange => "update_value('sync_limit', 'sync_limit', 'string')"}

    %p
      %label{ :for => :client_port }= t('.client_port')
      %input#client_port{:type => "text", :name => "client_port", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["client_port"], :onchange => "update_value('client_port', 'client_port', 'string')"}

    %p
      %label{ :for => :peer_port }= t('.peer_port')
      %input#peer_port{:type => "text", :name => "peer_port", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["peer_port"], :onchange => "update_value('peer_port', 'peer_port', 'string')"}

    %p
      %label{ :for => :leader_port }= t('.leader_port')
      %input#leader_port{:type => "text", :name => "leader_port", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["leader_port"], :onchange => "update_value('leader_port', 'leader_port', 'string')"}

    %p
      %label{ :for => :data_dir }= t('.data_dir')
      %input#data_dir{:type => "text", :name => "data_dir", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["data_dir"], :onchange => "update_value('data_dir', 'data_dir', 'string')"}

    %p
      %label{ :for => :jvm_flags }= t('.jvm_flags')
      %input#jvm_flags{:type => "text", :name => "jvm_flags", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["jvm_flags"], :onchange => "update_value('jvm_flags', 'jvm_flags', 'string')"}

    %p
      %label{ :for => :data_log_dir }= t('.data_log_dir')
      %input#data_log_dir{:type => "text", :name => "data_log_dir", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["data_log_dir"], :onchange => "update_value('data_log_dir', 'data_log_dir', 'string')"}
