
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %strong= t('.core_attributes')
  = link_to "Raw", proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container

    %p
      %label{ :for => :zookeeper_default_fileformat }= t('.zookeeper_default_fileformat')
      %input#zookeeper_default_fileformat{:type => "text", :name => "zookeeper_default_fileformat", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_default_fileformat"], :onchange => "update_value('zookeeper_default_fileformat', 'zookeeper_default_fileformat', 'string')"}

    %p
      %label{ :for => :zookeeper_exec_compress_intermediate }= t('.zookeeper_exec_compress_intermediate')
      = select_tag :zookeeper_exec_compress_intermediate, options_for_select([['true','true'], ['false', 'false']], "false"), :onchange => "update_value('zookeeper_exec_compress_intermediate', 'zookeeper_exec_compress_intermediate', 'boolean')"

    %p
      %label{ :for => :zookeeper_exec_compress_output }= t('.zookeeper_exec_compress_output')
      = select_tag :zookeeper_exec_compress_output, options_for_select([['true','true'], ['false', 'false']], "false"), :onchange => "update_value('zookeeper_exec_compress_output', 'zookeeper_exec_compress_output', 'boolean')"

    %p
      %label{ :for => :zookeeper_exec_scratchdir }= t('.zookeeper_exec_scratchdir')
      %input#zookeeper_exec_scratchdir{:type => "text", :name => "zookeeper_exec_scratchdir", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_exec_scratchdir"], :onchange => "update_value('zookeeper_exec_scratchdir', 'zookeeper_exec_scratchdir', 'string')"}

    %p
      %label{ :for => :zookeeper_exec_script_maxerrsize }= t('.zookeeper_exec_script_maxerrsize')
      %input#zookeeper_exec_script_maxerrsize{:type => "text", :name => "zookeeper_exec_script_maxerrsize", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_exec_script_maxerrsize"], :onchange => "update_value('zookeeper_exec_script_maxerrsize', 'zookeeper_exec_script_maxerrsize', 'string')"}

    %p
      %label{ :for => :zookeeper_join_emit_interval }= t('.zookeeper_join_emit_interval')
      %input#zookeeper_join_emit_interval{:type => "text", :name => "zookeeper_join_emit_interval", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_join_emit_interval"], :onchange => "update_value('zookeeper_join_emit_interval', 'zookeeper_join_emit_interval', 'string')"}

    %p
      %label{ :for => :zookeeper_map_aggr }= t('.zookeeper_map_aggr')
      = select_tag :zookeeper_map_aggr, options_for_select([['true','true'], ['false', 'false']], "false"), :onchange => "update_value('zookeeper_map_aggr', 'zookeeper_map_aggr', 'boolean')"

    %p
      %label{ :for => :zookeeper_metastore_connect_retries }= t('.zookeeper_metastore_connect_retries')
      %input#zookeeper_metastore_connect_retries{:type => "text", :name => "zookeeper_metastore_connect_retries", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_metastore_connect_retries"], :onchange => "update_value('zookeeper_metastore_connect_retries', 'zookeeper_metastore_connect_retries', 'string')"}

    %p
      %label{ :for => :zookeeper_metastore_local }= t('.zookeeper_metastore_local')
      = select_tag :zookeeper_metastore_local, options_for_select([['true','true'], ['false', 'false']], "true"), :onchange => "update_value('zookeeper_metastore_local', 'zookeeper_metastore_local', 'boolean')"

    %p
      %label{ :for => :zookeeper_metastore_metadb_dir }= t('.zookeeper_metastore_metadb_dir')
      %input#zookeeper_metastore_metadb_dir{:type => "text", :name => "zookeeper_metastore_metadb_dir", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_metastore_metadb_dir"], :onchange => "update_value('zookeeper_metastore_metadb_dir', 'zookeeper_metastore_metadb_dir', 'string')"}

    %p
      %label{ :for => :zookeeper_metastore_rawstore_impl }= t('.zookeeper_metastore_rawstore_impl')
      %input#zookeeper_metastore_rawstore_impl{:type => "text", :name => "zookeeper_metastore_rawstore_impl", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_metastore_rawstore_impl"], :onchange => "update_value('zookeeper_metastore_rawstore_impl', 'zookeeper_metastore_rawstore_impl', 'string')"}

    %p
      %label{ :for => :zookeeper_metastore_uris }= t('.zookeeper_metastore_uris')
      %input#zookeeper_metastore_uris{:type => "text", :name => "zookeeper_metastore_uris", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_metastore_uris"], :onchange => "update_value('zookeeper_metastore_uris', 'zookeeper_metastore_uris', 'string')"}

    %p
      %label{ :for => :zookeeper_metastore_warehouse_dir }= t('.zookeeper_metastore_warehouse_dir')
      %input#zookeeper_metastore_warehouse_dir{:type => "text", :name => "zookeeper_metastore_warehouse_dir", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["zookeeper_metastore_warehouse_dir"], :onchange => "update_value('zookeeper_metastore_warehouse_dir', 'zookeeper_metastore_warehouse_dir', 'string')"}

    %p
      %label{ :for => :javax_jdo_option_ConnectionDriverName }= t('.javax_jdo_option_ConnectionDriverName')
      %input#javax_jdo_option_ConnectionDriverName{:type => "text", :name => "javax_jdo_option_ConnectionDriverName", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["javax_jdo_option_ConnectionDriverName"], :onchange => "update_value('javax_jdo_option_ConnectionDriverName', 'javax_jdo_option_ConnectionDriverName', 'string')"}

    %p
      %label{ :for => :javax_jdo_option_ConnectionURL }= t('.javax_jdo_option_ConnectionURL')
      %input#javax_jdo_option_ConnectionURL{:type => "text", :name => "javax_jdo_option_ConnectionURL", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["javax_jdo_option_ConnectionURL"], :onchange => "update_value('javax_jdo_option_ConnectionURL', 'javax_jdo_option_ConnectionURL', 'string')"}
  